.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 15px;
  color: var(--gray);
}
.recommended-friends span {
  margin: 100px 0px;
  display: block;
  font-size: 18px;
  text-align: center;
  color: var(--gray);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}
.open-chat__header span {
  margin-bottom: 25px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: var(--main-border);
}
.open-post:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: none;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray);
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid #2d3b05;
}
.open-post__members-count {
  color: var(--gray);
  font-size: 14px;
}
.open-post__members .divider {
  height: 13px;
  margin: 0px 5px;
}
.open-post__members-status {
  color: #ff63c3;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #2d3b05;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
